<select id="style-select2" name="style2" class="<%= displayClass %>">
    <option value="">Normal</option>
    <option value="b">Bold</option>
    <option value="i">Italic</option>
    <option value="bi">Bold Italic</option>
</select>