<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head.ejs') %>
<body class="text-center">
    <h1>Home</h1>
    <!-- Nav -->
    <%- include('partials/nav.ejs') %>

    <main class="bg-white">
        Hello! Welcome to my website!<br>
        This website allows you to view different fonts and font styles.<br>
        You can use the navigation bar at the top of each page to navigate through the website.
    </main>
    
    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
</body>
</html>