body {
    width: 1000px;
    margin: auto;
    font-size: 1.2em;
    background-color: gray;
    text-align: center;
}

main {
    padding-top: 10px;
    margin-bottom: 0;
}

footer {
    margin-top: 0;
}

h1 {
    background-color: white;
    margin-bottom: 0;
}

hr {
    margin: 0;
}

p {
    margin-bottom: 0;
}

main p {
    width: 70%;
    margin: auto;
    text-align: left;
}

.disclaimer {
    color: gray;
    font-size: 0.9em;
}

/* Font Preview Styles */

.flex {
    display: flex;
}

.flex div {
    width: 100%;
    margin: 10px auto;
}

.apply-font {
    margin: auto;
}

.hidden {
    display: none;
}

.border {
    border: 1px black solid;
    margin: 10px auto;
    width: 90%;
}

/* Link Styles */
nav a {
    margin: 5px;
}

a:hover {
    color: orange;
    text-shadow: 0 0 5px orange;
}